body {margin: +50px;
padding: 0;
font-family: sans-serif;
line-height: 1.4em;
font-size: 11pt;
min-width: 800px; }

div#header {padding: 2%;
text-align: center;
background-color: #94b4e2; }

div#maincontent {padding: 2%;
text-align: justify;
margin-left: 5%;
margin-right: 5%; }

div#leftcolumn {padding: 2%;
float: left;
text-align: right;
width: 16%;
}

div#rightcolumn {padding: 2%;
float: right;
width: 16%; }

div#section {
background-color: #ffffff; 
min-height: 600px; }

div#box {
	width: 400px;
	padding-left: 10pt;
	padding-right: 10pt;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-width: 2px;
	border-style: solid;
	border-color: #94b4e2;
	background-color: light-grey; 
}

div#widebox {
	width: 600px;
	padding-left: 10pt;
	padding-right: 10pt;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-width: 2px;
	border-style: solid;
	border-color: #94b4e2;
	background-color: light-grey; 
}

.menu {
list-style-type: none;
line-height: 1.4em; 
}

a:link, a:visited {
color: #94b4e2;
text-decoration: none;
}

.menu a:hover {
// text-decoration: underline overline;
// font-size: 120%;
font-weight: bold;
}

td.head {
	background-color:#eaeaea;
}

td {
	font-size: 11pt;
}

input {
	font-size: 11pt;
}

textarea {
	font-size: 11pt;
}


td.fg {
	background-color:#FAF496;
}

td.os {
	background-color:#B97373;
}


td.ws {
	background-color:#B0C7FB;
}

td.ds {
	background-color:#C9FBB0;
}

sup {
	font-size:8pt;
}

td p {
	margin:0;
}